name: Dart CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        sdk: [2, 3.1, 3.2, 3.3, 3.4, beta]

    steps:
    - uses: actions/checkout@v2
    - name: Setup Dart SDK
      uses: dart-lang/setup-dart@v1
      with:
        sdk: ${{ matrix.sdk }}
    - name: Install dependencies
      run: pub get
    - name: Dartanalyzer
      run: dartanalyzer --options analysis_options.yaml .
    - name: Run tests
      run: pub run test test/unit
